@import "node_modules/vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", ( primary: #0F8903, // The primary color of your brand
accent: #1a11e8 // The secondary color of your brand
));
@import "node_modules/vue-material/dist/theme/all"; // Apply the theme
//
body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.splashlogo {
    max-width: 600px;
    width: 100%;
}

#webcam-view {
    width: 100%;
    height: 93vh;
    margin: 0 auto;
    overflow: hidden;
}

#webcamFeed {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

#changeCamera {
    top: -50px;
    background: white;
    margin: 0 auto;
    display: block;
}

.takenImage {
    display: none;
}

.greenB {
    color: #0f8903 !important;
}

.greenBG {
    background: #0f8903 !important;
}

.greyT {
    color: #7c7c7c !important;
}

.center {
    text-align: center !important;
}

.centered {
    margin: 0 auto;
    display: block;
}

.splashscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.iconBig {
    font-size: 60px !important;
    margin: 15px;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
}

.results {
    margin: 4%;
    max-width: 90%;
}

.results img {
    object-fit: cover;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.child-view {
    width: 100%;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}